In [1]:
import pandas as pd

In [2]:
ser=pd.Series(data=[100,200,300,400,500] ,index=['ram','shyam','mohit','sumit','suresh'])

In [3]:
ser

ram       100
shyam     200
mohit     300
sumit     400
suresh    500
dtype: int64

In [4]:
ser=pd.Series(data=[100,'ray',300,400,500] ,index=['ram','shyam','mohit','800','suresh'])

In [5]:
ser

ram       100
shyam     ray
mohit     300
800       400
suresh    500
dtype: object

In [6]:
ser=pd.Series(data=[100,200,300,400,500] ,index=['ram','shyam','mohit','sumit','suresh'],dtype=float)
ser   # print float value

ram       100.0
shyam     200.0
mohit     300.0
sumit     400.0
suresh    500.0
dtype: float64

In [7]:
ser=pd.Series(data=[100,200,300,400,500] ,index=['ram','shyam','mohit','sumit','suresh'],dtype=float,name='data value') 
ser  # name='data value' is the column name

ram       100.0
shyam     200.0
mohit     300.0
sumit     400.0
suresh    500.0
Name: data value, dtype: float64

In [8]:
list=[2,4,6,7,'mohit','shyam']
print(list)

[2, 4, 6, 7, 'mohit', 'shyam']

In [9]:
series1=pd.Series(list)   #or we can create series using list
series1

0        2
1        4
2        6
3        7
4    mohit
5    shyam
dtype: object

In [10]:
#if you forget index
ser.index

Index(['ram', 'shyam', 'mohit', 'sumit', 'suresh'], dtype='object')

In [11]:
#to find a particular data of an index
ser['shyam']

200.0

In [12]:
ser.loc['shyam']  #same output by loc function

200.0

In [13]:
ser.loc[['shyam','mohit']]  #same output by loc function

shyam    200.0
mohit    300.0
Name: data value, dtype: float64

In [14]:
#use a  numeric indices.series indices(index) also start by 0 in python
ser[[2,3,4]]

mohit     300.0
sumit     400.0
suresh    500.0
Name: data value, dtype: float64

In [15]:
#iloc funcrion give the same result
ser.iloc[[2,3,4]]

mohit     300.0
sumit     400.0
suresh    500.0
Name: data value, dtype: float64

In [16]:
#check quickly if a data value indexed by 'mohit' exist in a ser object
'mohit' in ser

True

In [17]:
'sam' in ser

False

In [18]:
ser*4 # data value multiply itself

ram        400.0
shyam      800.0
mohit     1200.0
sumit     1600.0
suresh    2000.0
Name: data value, dtype: float64

In [19]:
ser[['mohit','suresh']]**2

mohit      90000.0
suresh    250000.0
Name: data value, dtype: float64

In [20]:
scalar=pd.Series(0.5)
scalar

0    0.5
dtype: float64

In [21]:
scalar=pd.Series(0.5,index=[1,2,3,4,5])
scalar

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64