In [1]:
# group by fn is used to split data into groups based on some criteria
#syntax----->DataFrame.groupby()

import pandas as pd

In [8]:
df=pd.read_csv('D:\\datasets\\student_result1.csv')
df.head()

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [15]:
grp1=df.groupby(by='Section')   # or we can write grp1=df.groupby(by='Section').gruops
grp1

In [11]:
grp1.groups # har ek SECTION ka group bana diya gya h

{'A': Int64Index([0, 2], dtype='int64'),
 'B': Int64Index([1], dtype='int64'),
 'C': Int64Index([3, 4], dtype='int64')}

In [ ]:
# or hum ek se jyada level ka grop bna skte h short me

In [14]:
grp2=df.groupby(by=['Section','Class']).groups
grp2

{('A', 10): Int64Index([0, 2], dtype='int64'),
 ('B', 10): Int64Index([1], dtype='int64'),
 ('C', 11): Int64Index([3], dtype='int64'),
 ('C', 12): Int64Index([4], dtype='int64')}

In [ ]:
# ab hum dekhte h ye gruopby objct kesa show hota h

In [25]:
for Section,df1 in grp1:
    print(Section)
    print(df1)

A
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60
B
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
C
   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [ ]:
#ek group bnayenge a/c to 10th class

In [29]:
grp3=df.groupby('Class').get_group(10) # yha 10th class ka alg group bana diya gya h
grp3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [ ]:
# another example based on section group

In [31]:
grp4=df.groupby('Section').get_group('A') # yha A section ka alg group bana diya gya h
grp4

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60