In [3]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
df

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [11]:
#Returns the sum of the values for the requested axis. By default, axis is index (axis=0).
df.sum()

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [13]:
df['Age'].sum()# individual column sum

382

In [16]:
#Cumulative sum of Age, moving from the rows from the top
df['Age'].cumsum()

0      25
1      51
2      76
3      99
4     129
5     158
6     181
7     215
8     255
9     285
10    336
11    382
Name: Age, dtype: int64

In [7]:
df.sum(1)  #Each individual column is added individually (Strings are appended). axis=1 ...>

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [14]:
df.mean() #Returns the average value

Age       31.833333
Rating     3.743333
dtype: float64

In [15]:
df['Rating'].mean()# individual column mean

3.7433333333333336

In [9]:
df.median()

Age       29.50
Rating     3.79
dtype: float64

In [10]:
df.std()  #Returns the Bressel standard deviation of the numerical columns.

Age       9.232682
Rating    0.661628
dtype: float64

In [18]:
df['Rating'].describe() # describe for individual column

count    12.000000
mean      3.743333
std       0.661628
min       2.560000
25%       3.230000
50%       3.790000
75%       4.132500
max       4.800000
Name: Rating, dtype: float64

In [19]:
df.describe()# describe of whole data

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [20]:
df.count() #count whole columns

Name      12
Age       12
Rating    12
dtype: int64

In [21]:
df['Age'].count()# count individual columns

12

In [22]:
df['Rating'].var() #Sample variance of rating values

0.437751515151515

In [23]:
df.var() ##Sample variance of all values

Age       85.242424
Rating     0.437752
dtype: float64

In [24]:
df.corr() #Correlation Matrix Of Values

             Age    Rating
Age     1.000000  0.058586
Rating  0.058586  1.000000

In [25]:
#Covariance Matrix Of Values
df.cov()

              Age    Rating
Age     85.242424  0.357879
Rating   0.357879  0.437752