In [1]:
import pandas as pd
import datetime as dt

# working with date time

In [2]:
someday=dt.date(2010,1,20)

In [3]:
someday.year

2010

In [4]:
someday.month

1

In [5]:
someday.day

20

In [6]:
someday

datetime.date(2010, 1, 20)

In [6]:
str(someday)

'2010-01-20'

In [9]:
sometime=dt.datetime(2010,3,10,15,13,57) #format--->year,months,date,hour,mint,sec
sometime.year

2010

In [10]:
str(dt.datetime(2010,3,10,15,13,57))

'2010-03-10 15:13:57'

In [11]:
sometime=str(dt.datetime(2010,3,10,15,13,57))

In [12]:
sometime

'2010-03-10 15:13:57'

In [12]:
#someday.year
#someday.month
#someday.day
#someday.hour
#someday.minute
#sometime.second

# the pandas timestamp object

In [14]:
#pd.TimeStamp("2015-03-31")
#pd.TimeStamp("2015-03-31")
#pd.TimeStamp("2015,03,04")
#pd.TimeStamp("02/1/2015")
#pd.TimeStamp("19/12/2015")
#pd.TimeStamp("4/2/2015")
#pd.TimeStamp("2021-03-08 08:13:29")
pd.Timestamp("2021-03-08 06:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [15]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [16]:
pd.Timestamp(dt.datetime(2015,1,1,21,35,22))

Timestamp('2015-01-01 21:35:22')

In [18]:
dates=["2016/01/02","2017/04/12","2011/03/04"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2017-04-12', '2011-03-04'], dtype='datetime64[ns]', freq=None)

In [19]:
import pandas as pd

In [20]:
dates=[dt.date(2014,1,10),dt.date(2014,1,10),dt.date(2014,1,10)]
dtIndex=pd.DatetimeIndex(dates)

In [21]:
dates

[datetime.date(2014, 1, 10),
 datetime.date(2014, 1, 10),
 datetime.date(2014, 1, 10)]

In [22]:
dtIndex

DatetimeIndex(['2014-01-10', '2014-01-10', '2014-01-10'], dtype='datetime64[ns]', freq=None)

In [24]:
values=[10,20,30]
a=pd.Series(values,dtIndex)
a

2014-01-10    10
2014-01-10    20
2014-01-10    30
dtype: int64

In [26]:
a.to_frame(name="vijay")

            vijay
2014-01-10     10
2014-01-10     20
2014-01-10     30

In [31]:
#pd.DataFrame(a,index="vijay")

# the pd.todatetime() method

In [34]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015,1,1,))
#pd.to_datetime(dt.datetime(2015,1,14,14,34,20))
pd.to_datetime(["2015-01-02","2017-03-08","2017","July 4th,1998"])

DatetimeIndex(['2015-01-02', '2017-03-08', '2017-01-01', '1998-07-04'], dtype='datetime64[ns]', freq=None)

In [35]:
times=pd.Series([dt.date(2015,1,1),"2014/02/08","2016","July-2-32"])
pd.to_datetime(times)

0   2015-01-01
1   2014-02-08
2   2016-01-01
3   2032-07-02
dtype: datetime64[ns]

In [40]:
dates=pd.Series(["July 4th,1996","10/04/1991","hello","2014-2-31"])
dates

0    July 4th,1996
1       10/04/1991
2            hello
3        2014-2-31
dtype: object

In [42]:
pd.to_datetime(dates,errors="coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [46]:
pd.to_datetime([1571547221,157165721,1571763221,163747221])

DatetimeIndex(['1970-01-01 00:00:01.571547221',
               '1970-01-01 00:00:00.157165721',
               '1970-01-01 00:00:01.571763221',
               '1970-01-01 00:00:00.163747221'],
              dtype='datetime64[ns]', freq=None)

In [47]:
pd.to_datetime([1571547221,157165721,1571763221,163747221],unit="s")

DatetimeIndex(['2019-10-20 04:53:41', '1974-12-25 01:08:41',
               '2019-10-22 16:53:41', '1975-03-11 05:20:21'],
              dtype='datetime64[ns]', freq=None)

In [48]:
pd.Period("2016-01-08",freq="10D")

Period('2016-01-08', '10D')

In [52]:
dates=["2016-01-1","2016-02-01","2016-03-01"]
pd.Series([1,2,3],index=pd.PeriodIndex(dates,freq="2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [54]:
pd.Period("2016-01-08",freq="W")
pd.Period("2016-01-08",freq="W-SUN")
pd.Period("2016-01-08",freq="W-WED")
pd.Period("2016-12-10",freq="10D")
dates=["2016-01-01","2016-02-01","2016-02-01"]
pd.PeriodIndex(dates,freq="W-MON")

PeriodIndex(['2015-12-29/2016-01-04', '2016-01-26/2016-02-01',
             '2016-01-26/2016-02-01'],
            dtype='period[W-MON]', freq='W-MON')

In [57]:
weeks=pd.PeriodIndex(dates,freq="W-MON")
weeks
a=pd.Series([999,67273,325],index=weeks,name="weekly revenue")

In [58]:
a.name

'weekly revenue'

In [59]:
a.name="vijay pratap"

In [61]:
a.name

'vijay pratap'

In [62]:
times=pd.date_range(start="2016-01-01",end="2019-01-10",freq='D')
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', length=1106, freq='D')

In [65]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [66]:
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10'],
              dtype='datetime64[ns]', length=1106, freq='D')

In [67]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [70]:
pd.date_range(start="2012-09-09",periods=120,freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               ...
               '2012-10-06 12:00:00', '2012-10-06 18:00:00',
               '2012-10-07 00:00:00', '2012-10-07 06:00:00',
               '2012-10-07 12:00:00', '2012-10-07 18:00:00',
               '2012-10-08 00:00:00', '2012-10-08 06:00:00',
               '2012-10-08 12:00:00', '2012-10-08 18:00:00'],
              dtype='datetime64[ns]', length=120, freq='6H')

In [71]:
pd.date_range(end="1999-12-31",periods=100,freq="7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [73]:
pd.date_range(start="2019-12-1",end="1999-12-31",freq="6H")

DatetimeIndex([], dtype='datetime64[ns]', freq='6H')

In [74]:
bunch_of_dates=pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [76]:
s=pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [77]:
mask=s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]