In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("D:\\datasets\\1000_Companies.csv")
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
real_x=data.iloc[:,0:4].values
real_x

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       ...,
       [100275.47, 241926.31, 227142.82, 'California'],
       [128456.23, 321652.14, 281692.32, 'California'],
       [161181.72, 270939.86, 295442.17, 'New York']], dtype=object)

In [4]:
real_y=data.iloc[ :,4]
real_y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [5]:
from sklearn.preprocessing import LabelEncoder

# labelEncoder split into different dummy variables

LE=LabelEncoder()
real_x[:,3]=LE.fit_transform(real_x[:,3]) # 3rd column ko encode karega or usi me save kar dega
real_x[:,3]

array([2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2,
       1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2,
       0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2,
       0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0,
       2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0,
       1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0,
       2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0,
       2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0,
       2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1,
       2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0,
       1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0,
       2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0,
       2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0,
       2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1,
       2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0,
       1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0,
       2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0,
       2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0,
       2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1,
       2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0,
       1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0,
       2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0,
       2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0,
       2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1,
       2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 0, 1, 2, 1, 2, 0, 1, 2, 0,
       1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0, 1, 2, 1, 2, 1, 2,
       0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 0, 2, 0, 2, 0, 1, 2,
       1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2, 1, 1, 2, 0,
       1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2, 0, 2, 1, 1,
       0, 2, 1, 0, 2, 0, 0, 0, 0, 2], dtype=object)

In [6]:
# but we want binary form data so import another library oneHotEcoder

from sklearn.preprocessing import LabelEncoder,OneHotEncoder
OHencoder=OneHotEncoder(categorical_features=[3])  # we have three categorial data in cities so gives 3

real_x=OHencoder.fit_transform(real_x).toarray()
real_x

C:\Users\vijay\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\vijay\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.6534920e+05,
        1.3689780e+05, 4.7178410e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.6259770e+05,
        1.5137759e+05, 4.4389853e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5344151e+05,
        1.0114555e+05, 4.0793454e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0027547e+05,
        2.4192631e+05, 2.2714282e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2845623e+05,
        3.2165214e+05, 2.8169232e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.6118172e+05,
        2.7093986e+05, 2.9544217e+05]])

In [7]:
# avoiding dummy variable trap
real_x=real_x[:,1:]
real_x

array([[0.0000000e+00, 1.0000000e+00, 1.6534920e+05, 1.3689780e+05,
        4.7178410e+05],
       [0.0000000e+00, 0.0000000e+00, 1.6259770e+05, 1.5137759e+05,
        4.4389853e+05],
       [1.0000000e+00, 0.0000000e+00, 1.5344151e+05, 1.0114555e+05,
        4.0793454e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 1.0027547e+05, 2.4192631e+05,
        2.2714282e+05],
       [0.0000000e+00, 0.0000000e+00, 1.2845623e+05, 3.2165214e+05,
        2.8169232e+05],
       [0.0000000e+00, 1.0000000e+00, 1.6118172e+05, 2.7093986e+05,
        2.9544217e+05]])

In [8]:
# now training or testing data ko split krenge

train_x,test_x,train_y,test_y=train_test_split(real_x,real_y,test_size=0.2,random_state=0) 
#now build the linear model

MLR=LinearRegression()
MLR.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
# predicting the test set results
pred_y=MLR.predict(test_x)
pred_y

array([ 89790.61532916,  88427.07187362,  94894.67836972, 175680.86725609,
        83411.73042089, 110571.90200074, 132145.22936441,  91473.37719687,
       164597.05380605,  53222.82667402,  66950.19050991, 150566.43987004,
       126915.20858596,  59337.85971051, 177513.9105306 ,  75316.28143052,
       118248.14406603, 164574.40699901, 170937.28981069, 182069.11645083,
       118845.03252689,  85669.95112229, 180992.59396142,  84145.08220146,
       105005.83769214, 101233.56772747,  53831.07669092,  56881.41475226,
        68896.39346906, 210040.00765882, 120778.72270894, 111724.87157655,
       101487.90541518, 137959.02649623,  63969.95996744, 108857.91214127,
       186014.72531986, 171442.64130746, 174644.26529203, 117671.49128195,
        96731.37857434, 165452.25779408, 107724.34331255,  50194.54176915,
       116513.89532179,  58632.48986822, 158416.46827609,  78541.4852161 ,
       159727.66671742, 131137.87699644, 184880.70924515, 174609.08266879,
        93745.66352059,  78341.13383419, 180745.90439078,  84461.61490553,
       142900.90602902, 170618.44098395,  84365.0953084 , 105307.37162181,
       141660.07290786,  52527.34340444, 141842.9626416 , 139176.27973194,
        98294.52669667, 113586.86790969, 126754.21895489, 152135.51985561,
        58864.51658956, 174285.57361128, 124624.04380783, 169065.77658977,
        91279.3319821 , 156170.37268961,  84307.26579366,  77877.75223098,
       120414.02421346,  93380.44273242, 139020.6251412 , 143604.67103572,
       171148.30815367, 140082.97050131, 106369.71689747, 155641.43851387,
       140030.10330036, 110172.87893525,  69672.98677566,  88148.52068042,
       140133.59925092, 148479.09537887, 157916.63505256,  58532.94863142,
        93707.38422391, 112646.37475705,  56556.18943662, 107414.89996181,
       147352.80227752, 152144.10104033, 167808.11701783, 118750.25230713,
       120763.27666701, 139029.95295662, 157527.90934118, 121962.0621496 ,
        87091.32399737, 104792.91384334,  95335.22679186, 178389.52287435,
       181942.6377638 , 109831.34945507, 165254.03344095, 167806.06491901,
       158002.44642543, 174782.86900955, 170196.77102698,  52302.18161613,
       176938.11595788, 104751.83583866,  82710.31528806, 138890.52767844,
       144274.74675424, 161679.01836439, 169662.05445894, 120450.9231013 ,
       158880.70799546, 110213.73252825, 169674.51532365,  60760.61300843,
       159036.99629067, 158169.44286047, 174511.70494474, 156294.79927783,
       103714.37583212,  85635.96237575, 141603.54878756, 165917.69156979,
       121182.03641977, 170751.87883893, 100505.77549412,  82097.51033129,
       178643.18879841, 101790.48384579,  70507.40958623,  90250.04230089,
        61247.49962681,  68912.17534522,  72775.81613477, 176914.08873123,
        89704.69244932, 129209.43730017,  92672.90938383,  88133.59175044,
       172836.33021617,  60893.62070015, 169015.89446009, 166450.24453203,
       165425.54476414, 102170.5169499 , 181594.57928215,  73702.57942562,
        91267.42979669, 135791.54160195,  64922.80257301,  71775.70235727,
        60603.91401517, 184288.61041914, 176286.69585944, 158907.75687038,
       141359.32216438, 154611.1792832 ,  58549.58863234,  90618.58407899,
       152885.51163924, 168398.05223804,  72485.3627454 , 116064.24350667,
        80087.80697209, 149828.90896187, 116806.95957371, 130191.4884516 ,
       174534.42670327, 293584.45948282, 146270.83174788, 150646.69178013,
        86107.47782248,  69967.20842247,  70096.78368774,  69033.6917077 ,
       120666.75708064,  89677.68014064, 166824.27091661, 125514.76626409,
        67209.67687468, 140930.69427701, 118544.30490695, 165897.61905905,
       168655.48652551, 147009.66805048, 141396.22104146, 109086.50634849])

In [10]:
#calculating the coeficient 
MLR.coef_

array([-8.80536598e+02, -6.98169073e+02,  5.25845857e-01,  8.44390881e-01,
        1.07574255e-01])

In [11]:
MLR.intercept_

-51035.229724023025

In [12]:
from sklearn.metrics import r2_score
r2_score(test_y,pred_y)

0.9112695892268757